<div class="col-col">
  <div class="row">
    <button routerLink="/store/cart" class="btn btn-outline-primary btn-block">See your cart ({{itemCount}})</button>
  </div>
  <div class="row">
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
          <button (click)="addToCart(product.id)" class="btn btn-outline-success">Add to cart</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
